# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Pytest cache
.pytest_cache

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject
.spyderworkspace

# Rope project settings
.ropeproject

# mkdocs documentation files
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/